*
{
    padding: 0;
    margin: 0;
}


#Main
{
    width: 100vw;
    height: 100vh;
    background-color: blue;
    display: flex;
    justify-content: center;
    align-items: center;
}


#child
{
     width: 50%;
    height: 50%;
    background-color: white;
     display: flex;
    justify-content: center;
    align-items: center;
    font-size: 5vw;
    color: black;
    border-radius: 10px;
}